@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>デモのリスト</h3>
    <ul>
        <li><a href="~/Content/demo_001(WebGLで三角形).html" target="_blank">demo_001(WebGLで三角形)</a></li>
        <li><a href="~/Content/demo_002(Three.jsで三角形).html" target="_blank">demo_002(Three.jsで三角形)</a></li>
        <li><a href="~/Content/demo_003(球体).html" target="_blank">demo_003(球体)</a></li>
        <li><a href="~/Content/demo_004(地球_1(テクスチャー)).html" target="_blank">demo_004(地球_1(テクスチャー))</a></li>
        <li><a href="~/Content/demo_005(地球_2(トラックボール)).html" target="_blank">demo_005(地球_2(トラックボール))</a></li>
        <li><a href="~/Content/demo_005b(地球_3(MVフレーム)).html" target="_blank">demo_005b(地球_3(MVフレーム))</a></li>
        <li><a href="~/Content/demo_006(月と地球_1(アニメーション)).html" target="_blank">demo_006(月と地球_1(アニメーション))</a></li>
        <li><a href="~/Content/demo_007(月と地球_2(半透明)).html" target="_blank">demo_007(月と地球_2(半透明))</a></li>
        <li><a href="~/Content/demo_008(月と地球_3(ライティング)).html" target="_blank">demo_008(月と地球_3(ライティング))</a></li>
        <li><a href="~/Content/demo_008b(月と地球_4(完成)).html" target="_blank">demo_008b(月と地球_4(完成))</a></li>
        <li><a href="~/Content/demo_009(カスタムで形状作成).html" target="_blank">demo_009(カスタムで形状作成)</a></li>
    </ul>
</div>
